 <table class="table table-striped table-bordered" >
        <thead >
          <tr>
            <th scope="col">EmpCode</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Photo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let lst of appList'>
            <td>{{ lst.EmpCode }}</td>
            <td>{{ lst.Name }}</td>
            <td>{{ lst.Designation }}</td>
            <td><img class="img-fluid" src= '{{lst.url}}' ></td>
          </tr>
        </tbody>
      </table>

      <div class="row">
        <div class="col col-md-6" *ngFor = 'let lst of appList'>
          <div class="thumbnail">
              <img [src] = 'lst.url' alt="Nature" style="width:100%">
          </div>
        </div>
      </div>