
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <img class="navbar-brand" src="./assets/images/star.png" style="width: 5%;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
          aria-controls="navbarNav" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/music">Music</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dance">Dance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/sports">Sports</a>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" routerLink="/contact">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="content">
      <div class="container">
        <h2>{{title}}</h2>
        <ul *ngFor="let person of people">
          <li *ngIf="person.age < 35">
          {{ person.name }} {{ person.age }}
          </li>
        </ul>
        <ul *ngFor="let person of people"[ngSwitch]="person.country"> 
          <li *ngSwitchCase="'UK'" 
              class="text-success">{{ person.name }} ({{ person.country }})
          </li>
          <li *ngSwitchCase="'USA'"
              class="text-primary">{{ person.name }} ({{ person.country }})
          </li>
          <li *ngSwitchCase="'HK'"
              class="text-danger">{{ person.name }} ({{ person.country }})
          </li>
          <li *ngSwitchDefault 
              class="text-warning">{{ person.name }} ({{ person.country }})
          </li>
        </ul>
        <br>
        <div class="row">
        <div class="col col-md-6" *ngFor = 'let lst of appList'>
          <div class="thumbnail">
              <img [src] = 'lst.url' alt="Nature" style="width:100%">
          </div>
        </div>
      </div>

      <table class="table table-striped table-bordered" >
        <thead >
          <tr>
            <th scope="col">EmpCode</th>
            <th scope="col">Name</th>
            <th scope="col">Designation</th>
            <th scope="col">Photo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let lst of appList'>
            <td>{{ lst.EmpCode }}</td>
            <td>{{ lst.Name }}</td>
            <td>{{ lst.Designation }}</td>
            <td><img class="img-fluid" src= '{{lst.url}}' ></td>
          </tr>
        </tbody>
      </table>
      <br>
      <div class="container">
        <div class="form-control">
          <label>Name :</label>
          <input type="text" [(ngModel)]="FormName">
          <h2>Hello {{FormName}}</h2>
        </div>
      </div>
       
      </div>
    </div>

    <footer class="footer mt-auto py-3 bg-light fixed-bottom">
      <div class="container">
        <span class="text-muted">Developed By : Safwan Hakim</span>
      </div>
    </footer>

