<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://img.freepik.com/free-vector/flat-design-business-workshop-twitch-banner_23-2149410630.jpg?w=1380&t=st=1678335950~exp=1678336550~hmac=696aa1f3ccbe1f5ce052342d3dae929e8ee442e2050f853c655ed655ca8ae456" class="d-block w-100" alt="Image 1">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/free-psd/digital-marketing-facebook-banner-template_237398-233.jpg?w=1060&t=st=1678335970~exp=1678336570~hmac=8d29c3c3b9d9cc2d9b3aacf68a5d0f5e29eb5f73e078c7a6ae4874c0be403dd4" class="d-block w-100" alt="Image 2">
      </div>
      <div class="carousel-item">
        <img src="https://img.freepik.com/free-psd/black-friday-super-sale-facebook-cover-template_106176-1539.jpg?w=1380&t=st=1678336025~exp=1678336625~hmac=2f75e7f8d1c34c697023c68c8eccda5b4cdbe4ca366337cf0e99d6324b5d4609" class="d-block w-100" alt="Image 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<h3 class="m-5">{{title}}</h3>